<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main class="m-5">
      <button onclick="goBack()" class="btn btn-primary">Go To Home Page</button>
      <hr />
      <div class="progress m-2">
        <div
          class="progress-bar progress-bar-striped bg-info"
          role="progressbar"
          style="width: 50%"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="text-center">
        <b>..........Admin Log In Here...........</b>
      </div>
      <hr />
      <form action="#" enctype="multipart/form-data" name="login-form" onsubmit="getInputValue()">
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter Email"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Enter Password"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button
              type="submit"
              class="btn btn-primary"
              id="login-button"
            >
              Log in
            </button>
          </div>
        </div>
      </form>
    </main>
    <script>
      const getProgress = document.querySelector(".progress");
      getProgress.style.display = "none";
      function goBack() {
        window.location.href = "/";
      }
      function getInputValue() {
        event.preventDefault();
        getProgress.style.display = "";
        // Selecting the input element and get its value
        let email = document.getElementById("email").value;
        let password = document.getElementById("password").value;
        // Displaying the value
        console.log(email + password);
        window.onload = fetch("http://localhost:3001/auth/login", {
          method: "POST",
          body: JSON.stringify({
            email: email,
            password: password,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((res) => {
            return res.json();
          })
          .then((result) => {
            if (!result.message) {
              localStorage.setItem("jwtToken", result.token);
              getProgress.style.display = "none";
              window.location.replace("/admin/AllBlogs");
            } else {
              window.location.replace("/login");
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    </script>
  </body>
</html>
