<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Category</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main>
      <div>
        <div class="row mt-6">
          <%- include('../includes/sidebar.ejs') %>
          <div class="col-9">
            <hr />
            <div class="text-center">
              <b>..........Add New Category Here...........</b>
            </div>
            <hr />
            <div id="auth" class="text-center">
              <b> Not Authorized!!!!!!! </b>
            </div>
            <div id="form">            
            <form
              action=""
              method="POST"
              enctype="multipart/form-data"
              name="add-category"
              onsubmit="getFormValue()"
            >
              <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Enter Category name"
                    class="form-control"
                    required
                  />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10 text-center">
                  <button
                    type="submit"
                    class="btn btn-primary mr-2"
                    id="login-button"
                  >
                    Save
                  </button>
                  <button
                    type="reset"
                    class="btn btn-secondary"
                    id="reset-button"
                  >
                    Cancle
                  </button>
                </div>
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </main>
    <script>
      const token = localStorage.getItem("jwtToken");
      const form = document.getElementById("form");
      const isAuth = document.getElementById("auth");
      if (token === "") {
        isAuth.style.display = "";
        form.style.display = "none";
      } else {
        isAuth.style.display = "none";
        form.style.display = "";
      }
      function getFormValue() {
        const name = document.getElementById("name").value;
        event.preventDefault();
        window.onload = fetch("http://localhost:3001/admin/category", {
          method: "POST",
          body: JSON.stringify({
            name: name,
          }),
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + token,
          },
        })
          .then((res) => {
            return res.json();
          })
          .then((result) => {
            if (result.category) {
              window.location.replace("/admin/allcategories");
            } else {
              window.location.replace("/admin/add/category");
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    </script>
  </body>
</html>
