<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Blog</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main>
    <div>
      <div class="row mt-6">
        <%- include('../includes/sidebar.ejs') %>
        <div class="col-9">
          <hr />
          <div class="text-center">
            <b>..........Add New Blog Here...........</b>
          </div>
          <hr />
          <div id="auth" class="text-center">
            <b>
              Not Authorized!!!!!!!
            </b> 
          </div>
          <div id="form"> 
          <form action="" enctype="multipart/form-data" name="login-form" onsubmit="getInputValue()">
            <div class="form-group row">
              <label for="title" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  name="title"
                  id="title"
                  placeholder="Enter Title"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="imageUrl" class="col-sm-2 col-form-label">Image</label>
              <div class="col-sm-10">
                <input
                  type="file"
                  name="imageUrl"
                  id="imageUrl"
                  placeholder="select file"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="category" class="col-sm-2 col-form-label">Category</label>
              <div class="col-sm-10">
                <select id="category" class="form-control" required>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-sm-2 col-form-label"
                >Description</label
              >
              <div class="col-sm-10">
                <textarea
                  name="description"
                  id="description"
                  placeholder="Enter Description Here"
                  class="form-control"
                  required
                ></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10 text-center">
                <button
                  type="submit"
                  class="btn btn-primary mr-2"
                  id="login-button"
                >
                  Save
                </button>
                <button
                  type="reset"                 
                  class="btn btn-secondary"
                  id="reset-button"
                >
                  Cancle
                </button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script>
    const token = localStorage.getItem("jwtToken");
    const form = document.getElementById("form");
    const isAuth = document.getElementById('auth') ;
    if(token === ""){
        isAuth.style.display = "";
        form.style.display = "none";
      }
      else {
        isAuth.style.display = "none";
        form.style.display = "";
      }
     function getInputValue() {
      event.preventDefault();
        // Selecting the input element and get its value
        let title = document.getElementById("title").value;
        let category = document.getElementById("category").value;
        let description = document.getElementById("description").value;
          let imageUrl = document.getElementById("imageUrl");
          let image = imageUrl.files[0];
        const formData = new FormData();
        formData.append('title', title);
        formData.append('category', category);
        formData.append('description', description);
        formData.append('image', image);
        // Displaying the value
        window.onload = fetch("http://localhost:3001/admin/blog", {
          method: "POST",
          headers: {
            "Authorization": "Bearer " + token,
          },
          body: formData          
        })
          .then((res) => {
            return res.json();
          })
          .then((result) => {           
              window.location.replace('/admin/AllBlogs');           
          })
          .catch((err) => {
            console.log(err);
          });
      }   
      window.addEventListener("DOMContentLoaded", (event) => {
        const getSelect = document.querySelector('#category');
        fetch('http://localhost:3001/admin/categories',{
          headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer " + token,
          }
        }).then(res => {
          return res.json();
        })
        .then(result => {
          result.categories.forEach((category) => { 
            const option = document.createElement('option');
            option.value = category.name;
            option.innerText = category.name;
            getSelect.appendChild(option);            
          })
        })
        .catch(err => {
          console.log(err);
        })
      });   
  </script>
  </body>
</html>
