<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Blogs</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main>      
      <div class="row mt-6">
        <%- include('../includes/sidebar.ejs') %>
        <div class="col-9">
          <div class="progress m-2">
            <div
              class="progress-bar progress-bar-striped bg-info"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <table class="table table-borderless mt-4">
            <thead>              
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody class="blogs">
              <div id="auth" class="text-center">
                <b>
                  Not Authorized!!!!!!!
                </b> 
              </div>
            </tbody>
          </table>
        </div>
      </div>
      <div class="edit-form">
        <hr />
        <div class="text-center">
          <b>..........Edit Blog Here...........</b>
        </div>
        <hr />
        <form action="" enctype="multipart/form-data" name="login-form" onsubmit="EditValue()"  class="text-center m-5">
          <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
              <input
                type="text"
                name="title"
                id="title"
                placeholder="Enter Title"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="imageUrl" class="col-sm-2 col-form-label">Image</label>
            <div class="col-sm-10">
              <input
                type="file"
                name="imageUrl"
                id="imageUrl"
                class="form-control"
              />
              <p id="imageName"></p>
            </div>
          </div>
          <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
              <select id="category" class="form-control" required>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label"
              >Description</label
            >
            <div class="col-sm-10">
              <textarea
                name="description"
                id="description"
                placeholder="Enter Description Here"
                class="form-control"
                required
              ></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10 text-center">
              <button
                type="submit"
                class="btn btn-primary mr-2"
                id="login-button"
              >
                Save
              </button>
              <button
                type="reset"                 
                class="btn btn-secondary"
                id="reset-button"
              >
                Cancle
              </button>
            </div>
          </div>
        </form>
      </div>

    </main>
    <script>
      const getContainer = document.querySelector(".blogs");
      const getProgress = document.querySelector(".progress");
      const token = localStorage.getItem("jwtToken");
      const getEditForm = document.querySelector('.edit-form');
      const getImageName = document.getElementById('imageName') ;
      const isAuth = document.getElementById('auth') ;
      getContainer.innerHTML = ``;
      getProgress.style.display = "";
      getEditForm.style.display = 'none';
      getImageName.style.display = "";
      var blogId ;
      if(token === ""){
        isAuth.style.display = "";
      }
      else {
        isAuth.style.display = "none";
      }
      window.addEventListener("DOMContentLoaded", (event) => {
        fetch("http://localhost:3001/admin/blogs", {
          headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer " + token,
          },
        })
          .then((res) => {
            return res.json();
          })
          .then((result) => {
            getProgress.style.display = "none";
            result.blogs.forEach((blog) => { 
              const newTR = document.createElement('tr');
              const titleTD = document.createElement('td');
              titleTD.innerHTML = blog.title;
              const categoryTD = document.createElement('td');
              categoryTD.innerHTML = blog.category;
              const descriptionTD = document.createElement('td');
              descriptionTD.innerHTML = blog.description;
              const editbtn = document.createElement('button');
              editbtn.classList.add('btn');
              editbtn.classList.add('btn-primary');
              editbtn.classList.add('mr-4');
              editbtn.innerText = "Edit";
              const deleteBtn = document.createElement('button');
              deleteBtn.classList.add('btn');
              deleteBtn.classList.add('btn-danger');
              deleteBtn.innerText = "Delete";
              const actionTD = document.createElement('td');
              actionTD.appendChild(editbtn);
              actionTD.appendChild(deleteBtn);
              newTR.appendChild(titleTD);
              newTR.appendChild(categoryTD);
              newTR.appendChild(descriptionTD);
              newTR.appendChild(actionTD);
              getContainer.appendChild(newTR);

              editbtn.onclick = function () {
                getEditForm.style.display = '';
                blogId = blog._id;
                document.getElementById('title').value = blog.title;
                document.getElementById('category').value = blog.category;
                document.getElementById('description').value = blog.description;
                let imageUrl = document.getElementById('imageUrl');
                imageUrl.file = blog.imageUrl;
                let imageName = blog.imageUrl.split('/')[1].split('-')[1];
                getImageName.innerText = imageName;
                imageUrl.onclick = function () {
                  getImageName.style.display = "none";
                  getImageName.innerText = "";
                }
               
              }
              deleteBtn.onclick = function () {
                fetch('http://localhost:3001/admin/blog/'+ blog._id,{
                  method : "DELETE",
                  headers : {
                    "Authorization": "Bearer " + token,
                    "Content-Type": "application/json"
                  }
                })
                .then(res =>{
                   return res.json();
                }).then(result => {
                  getContainer.removeChild(newTR);
                }).catch(err => {
                  console.error(err);
                })
              }        
            });
          })
          .catch((err) => {
            console.log(err);
          });        
      });
      function EditValue() {
      event.preventDefault();
        // Selecting the input element and get its value
        let title = document.getElementById("title").value;
        let category = document.getElementById("category").value;
        let description = document.getElementById("description").value;
        let imageUrl = document.getElementById("imageUrl");
        let image = imageUrl.files[0];
        const formData = new FormData();
        formData.append('title', title);
        formData.append('category', category);
        formData.append('description', description);
        formData.append('image', image);
        // Displaying the value
        window.onload = fetch("http://localhost:3001/admin/blog/" + blogId, {
          method: "PUT",
          headers: {
            "Authorization": "Bearer " + token,
          },
          body: formData          
        })
          .then((res) => {
            return res.json();
          })
          .then((result) => {  
              window.location.replace('/admin/AllBlogs');           
          })
          .catch((err) => {
            console.log(err);
          });
      }   
      window.addEventListener("DOMContentLoaded", (event) => {
        const getSelect = document.querySelector('#category');
        fetch('http://localhost:3001/admin/categories',{
          headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer " + token,
          }
        }).then(res => {
          return res.json();
        })
        .then(result => {
          result.categories.forEach((category) => { 
            const option = document.createElement('option');
            option.value = category.name;
            option.innerText = category.name;
            getSelect.appendChild(option);            
          })
        })
        .catch(err => {
          console.log(err);
        })
      });   
    </script>
  </body>
</html>
