<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Categories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
   integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
  <main>   
    <div class="row mt-6">
      <%- include('../includes/sidebar.ejs') %> 
      <div class="col-9">
        <div class="progress m-2">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <table class="table table-borderless mt-4">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody class="blogs">   
            <div id="auth" class="text-center">
              <b>
                Not Authorized!!!!!!!
              </b> 
            </div>        
          </tbody>
        </table>     
       </div>   
     </div> 
    <div class="edit-form">
    <hr>      
    <div class="text-center">
      <b>..........Edit  Category Here...........</b>
    </div>
    <hr />
    <form
      action=""
      method="POST"
      enctype="multipart/form-data"
      name="add-category"
      onsubmit="editValue()"
      class="text-center m-5"
    >
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Enter Category name"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10 text-center">
          <button
            type="submit"
            class="btn btn-primary mr-2"
            id="login-button"
          >
            Save
          </button>
          <button
            type="reset"
            class="btn btn-secondary"
            id="reset-button"
          >
            Cancle
          </button>
        </div>
      </div>
    </form>
  </div>
  </main>
  <script>
    const getContainer = document.querySelector('.blogs');
    const getProgress = document.querySelector('.progress');
    const getEditForm = document.querySelector('.edit-form');
    const token = localStorage.getItem("jwtToken");
    const isAuth = document.getElementById('auth') ;
    var categoryId ;
    getContainer.innerHTML = ``;
    getProgress.style.display = '';
    getEditForm.style.display = 'none';
    if(token === ""){
        isAuth.style.display = "";
      }
      else {
        isAuth.style.display = "none";
      }
    window.onload =   fetch('http://localhost:3001/admin/categories' , {
      headers : {
        'Content-Type' : 'application/json',
        'Authorization' : 'Bearer ' + token
      }
    })
      .then(res => {
       return res.json();
      })
      .then(result => {
          result.categories.forEach(category => {
            getProgress.style.display = "none";
            const TR = document.createElement('tr');
            const nameTD = document.createElement('td');
            nameTD.innerHTML = category.name;
            const TD = document.createElement('td');
            const editbtn = document.createElement('button');
              editbtn.classList.add('btn');
              editbtn.classList.add('btn-primary');
              editbtn.classList.add('mr-4');
              editbtn.innerText = "Edit";
              const deleteBtn = document.createElement('button');
              deleteBtn.classList.add('btn');
              deleteBtn.classList.add('btn-danger');
              deleteBtn.innerText = "Delete";
              TD.appendChild(editbtn);
              TD.appendChild(deleteBtn);
              TR.appendChild(nameTD);
              TR.appendChild(TD);
              getContainer.appendChild(TR);
              deleteBtn.onclick = function () {
                fetch('http://localhost:3001/admin/category/'+ category._id,{
                  method : "DELETE",
                  headers : {
                    "Authorization": "Bearer " + token,
                    "Content-Type": "application/json"
                  }
                })
                .then(res =>{
                   return res.json();
                }).then(result => {
                  getContainer.removeChild(TR);
                }).catch(err => {
                  console.error(err);
                })
              }  
              editbtn.onclick = function () {
                getEditForm.style.display = "";
                categoryId = category._id;
                document.getElementById('name').value = category.name;
              }      
              
          })
      })
      .catch(err => {
        console.log(err);
      })      
      function editValue() {
        const name = document.getElementById('name').value;
        event.preventDefault();
        window.onload = fetch("http://localhost:3001/admin/category/" + categoryId, {
          method: "PUT",
          body: JSON.stringify({
           name : name
          }),
          headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer " + token,
          },
        })
          .then((res) => {
            return res.json();
          })
          .then((result) => {
            if (result.category) {
              getEditForm.style.display = 'none';
              window.location.replace("/admin/allcategories");
            } else {
              getEditForm.style.display = '';
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
       </script>
    </body>
</html>