<div class="col-3">
  <div
    class="nav flex-column nav-pills"
    id="sidebar"
    role="tablist"
    aria-orientation="vertical"
  >
    <a
      class="nav-link"
      id="v-pills-home-tab"
      data-toggle="pill"
      href="/admin/allblogs"
      aria-selected="true"
      >All Blogs</a
    >
    <a
      class="nav-link"
      id="v-pills-profile-tab"
      data-toggle="pill"
      href="/admin/add/blog"
      role="tab"
      aria-selected="false"
      >Add New Blog</a
    >
    <a
      class="nav-link"
      id="v-pills-messages-tab"
      data-toggle="pill"
      href="/admin/allcategories"
      role="tab"
      aria-selected="false"
      >All category</a
    >
    <a
      class="nav-link"
      id="v-pills-settings-tab"
      data-toggle="pill"
      href="/admin/add/category"
      role="tab"
      aria-selected="false"
      >Add New Category</a
    >
  </div>
</div>
<script>
  const getNav = document.querySelector('#sidebar');
  const logoutBtn = document.createElement("a");
  logoutBtn.href = "/logout";
  logoutBtn.innerText = "Logout";
  logoutBtn.classList.add("nav-link");
  window.onload = 
    getNav.appendChild(logoutBtn);
    logoutBtn.onclick = function (params) {
    localStorage.setItem("jwtToken", "");
    }
      
</script>
