<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
   integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
  <main class="m-5">
      <hr>
      <div class="title">
      </div>
      <hr>
      <div class="container mt-2 ml-10">
        <div class="progress m-2">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
          <div class="mb-3 ml-6" style="max-width: 540px;">
            <div class="row no-gutters blogs">

            </div>
          </div>  
        </div>  
  </main>
  <script>
  const getContainer = document.querySelector('.blogs');
  const getTitle = document.querySelector('.title');
  const getProgress = document.querySelector('.progress');
  const blogId = window.location.pathname.split('/')[2];
  getContainer.innerHTML = ``;
  getProgress.style.display = '';
  window.onload =  fetch('http://localhost:3001/user/blog/'+ blogId , {
    'Content-Type' : 'application/json'
  })
    .then(res => {
     return res.json();
    })
    .then(result => {
            getProgress.style.display = "none";
            const title = document.createElement('h3');
            title.classList.add('text-center');
            title.innerText = result.blog.title;
            getTitle.appendChild(title);

            const col1 = document.createElement('div');
            col1.classList.add('col-md-4');
            const img = document.createElement('img');
            img.classList.add('card-img');
            img.alt = result.blog.title + ' image';
            img.src = "http://localhost:3001/" + result.blog.imageUrl;
            col1.appendChild(img);
            const col2 = document.createElement('div');
            col2.classList.add('col-md-8');
            const cardBody = document.createElement('div');
            cardBody.classList.add('card-body');
            const cardTitle = document.createElement('h5');
            cardTitle.classList.add('card-title');
            cardTitle.innerText = result.blog.title;
            const cardParagraph = document.createElement('p');
            cardParagraph.classList.add('card-text');
            cardParagraph.innerText = result.blog.description;
            const cardParagraph2 = document.createElement('p');
            cardParagraph2.classList.add('card-text');
            const P2S = document.createElement('small');
            P2S.classList.add('text-muted');
            P2S.innerText = "Last Updated At:" + result.blog.updatedAt;
            col2.appendChild(cardBody);
            col2.appendChild(cardTitle);
            col2.appendChild(cardParagraph);
            col2.appendChild(cardParagraph2);
            col2.appendChild(P2S);
            getContainer.appendChild(col1);
            getContainer.appendChild(col2);
    })
    .catch(err => {
      console.log(err);
    })     
     </script>
</body>
</html>