<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
   integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
  <main>
    <div class="container mt-2 ml-10">
      <div class="text-right">
        <a href="http://localhost:3001/login" class="btn btn-primary" id="login-button" >Login</a>
      </div>
      <div class="progress m-2">
        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
       <div class="blogs">
         <h1>No Blogs Found!</h1>
       </div>
  </main>
  <script>
    const getContainer = document.querySelector('.blogs');
    const getProgress = document.querySelector('.progress');
    getContainer.innerHTML = ``;
    getProgress.style.display = '';
    window.onload = localStorage.setItem('jwtToken',"");
    window.onload =   fetch('http://localhost:3001/user/blogs' , {
      'content-type' : 'application/json'
    })
      .then(res => {
       return res.json();
      })
      .then(result => {
          result.blogs.forEach(blog => {
            getProgress.style.display = "none";
            const card = document.createElement('div');
            card.classList.add('card');
            card.classList.add('border');
            card.classList.add('border-primary');
            card.classList.add('m-2');
            const cardHeader = document.createElement('h5');
            cardHeader.classList.add('card-header');
            cardHeader.innerText = blog.category;
            const cardBody = document.createElement('div');
            cardBody.classList.add('card-body');
            const cardTitle = document.createElement('h5');
            cardTitle.classList.add('card-title');
            cardTitle.innerText = blog.title;
            const cardParagraph = document.createElement('p');
            cardParagraph.classList.add('card-text');
            cardParagraph.innerText = blog.description;
            const DetailsBtn = document.createElement('button');
            DetailsBtn.classList.add('btn-primary');
            DetailsBtn.classList.add('btn');
            DetailsBtn.innerText = "Details";
            cardBody.appendChild(cardTitle);
            cardBody.appendChild(cardParagraph);
            cardBody.appendChild(DetailsBtn);
            card.appendChild(cardHeader);
            card.appendChild(cardBody);
            getContainer.appendChild(card);

            
            DetailsBtn.onclick = function () {
                window.location.href = "http://localhost:3001/blog/" + blog._id ;
              }
          })
      })
      .catch(err => {
        console.log(err);
      })      
       </script>
</body>
</html>